@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --clr-primary-500: hsl(215, 51%, 70%);
  --clr-primary-400: hsl(178, 100%, 50%);

  --clr-neutral-900: hsl(217, 54%, 11%);
  --clr-neutral-800: hsl(216, 50%, 16%);
  --clr-neutral-600: hsl(215, 32%, 27%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-regular: "Outfit", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Attribution Styling */

.attribution {
  font-size: 0.75rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Utilities */

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.flex-group {
  display: flex;
  justify-content: space-between;
}

.h-rule {
  border: 0;
  border-top: 1px solid var(--clr-neutral-600);
}

.highlight {
  display: inline;
  color: var(--clr-neutral-100);
}

.highlight:hover {
  color: var(--clr-primary-400);
  cursor: pointer;
}

/* General Styling */

body {
  background-color: var(--clr-neutral-900);
  color: var(--clr-primary-500);
  font-family: var(--ff-regular);
  font-weight: var(--fw-light);
  font-size: 18px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

/* Components */

.nft-card {
  background-color: var(--clr-neutral-800);
  border-radius: 14px;
  box-shadow: 0 15px 10px 10px var(--clr-neutral-900);
  max-width: 375px;
  margin: 0 auto;
  padding: 1.7em;
}

.nft-card__img--highlight {
  background-color: var(--clr-primary-400);
  background-image: url(images/icon-view.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.nft-card__img,
.nft-card__img--highlight {
  border-radius: 12px;
  width: 100%;
}

.nft-card__img:hover {
  transition: opacity 200ms ease-in-out;
  opacity: 0.5;
  cursor: pointer;
}

.nft-card__content {
  display: grid;
  gap: 1em;
  margin-top: 1.2em;
}

.nft-card__title {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-semi-bold);
  font-size: 1.4em;
}

.nft-card__title:hover {
  color: var(--clr-primary-400);
  cursor: pointer;
}

.nft-card__desc {
  font-size: 1em;
}

.nft-card__currency,
.nft-card__time,
.nft-card__avatar-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
}

.nft-card__currency {
  color: var(--clr-primary-400);
  font-weight: var(--fw-semi-bold);
}

.nft-card__avatar {
  border: 1px solid var(--clr-neutral-100);
  border-radius: 1em;
  width: 36px;
  margin-right: 0.6em;
}
